{erl_opts, [debug_info]}.

{alias, [
    {check, [
        xref, dialyzer, edoc,
        {ct, "--cover"}, {proper, "--cover"},
        {cover, "--verbose --min_coverage=70"}
    ]}
]}.

{project_plugins, [
    rebar3_proper
]}.

{deps, [
    % until back on hex:
    % {erlavro, "2.9.1"}
    {certifi, "2.5.2"},
    {ssl_verify_fun, "1.1.5"},
    {erlavro,
     {git, "https://github.com/klarna/erlavro.git", {tag, "2.9.1"}}}
]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [avrogato]}
]}.

{profiles, [
    {test, [
        {deps, [{proper, "1.3.0"}]}
    ]},
    {dev, [
        {deps, [recon]},
        {extra_src_dirs, ["utils"]}
    ]}
]}.

{xref_checks,[undefined_function_calls, undefined_functions, locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

